<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".PresentationActivity"
            android:label="Presentation Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="ENSICOM"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".EvenementActivity"
            android:label="Événements"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MenuActivity"
            android:label="Menu"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".BonhommeActivity"
            android:label="Profil"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="CalendarAdapter"
            android:label="Calendrier_adapteur"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="CalendarViewHolder"
            android:label="Calendier_vue"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Logo_textActivity"
            android:label="Logo_text"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>
